
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.health {
  padding-right: 0;
  padding-left: 0;
}

.health-meter {
  border: 1px solid black;
  width: 25%;
  height: 25px;
  border-radius: 5px;
  background-color: chartreuse;
  display: inline-block;
}

.enemy-health-meter {
  border: 1px solid black;
  width: 25%;
  height: 25px;
  border-radius: 5px;
  background-color: chartreuse;
  display: inline-block;
}

.player-choice {
  padding-left: 0;
  padding-right: 0;
}

.attack-row {
  margin: 0 auto;
}

.attack-button {
  padding: 10px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}

.minus-5 {
  background-color: yellow;
}

.minus-10 {
  background-color: orange;
}

.minus-15 {
  background-color: red;
}

.minus-20 {
  background-color: white;
}

ul {
  padding-right: 0;
  padding-left: 0;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

.player-display {
  width: 100%;
  height: 50px;
}

.player-display img {
  width: 256px;
  height: 256px;
}

.enemy-display {
  width: 100%;
  height: 50px;
}

.enemy-display img {
  width: 256px;
  height: 256px;
}

.hide {
  display: none;
}
