
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.castle {
  background: url('http://orig12.deviantart.net/1039/f/2010/304/f/a/cartoon_castle_scene_by_rasulh-d31vi8o.jpg');
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.dropdown {
  margin-top: 15px;
  margin-left: 15px;
}

.health {
  padding-right: 0;
  padding-left: 0;
}

.health-meter {
  // border: 1px solid black;
  width: 50%;
  height: 25px;
  // border-radius: 5px;
  // background-color: chartreuse;
  display: inline-block;
}

.progress-bar-striped {
  width: 100%;
  height: 20px;
  border-radius: 4px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-color: #5cb85c;
  background-size: 40px 40px;
  display: inline-block;
}

.enemy-health-meter {
  width: 50%;
  height: 25px;
  display: inline-block;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;

  width: 100%;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #5cb85c;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  height: 20px;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    border-radius: 4px;
    background-size: 40px 40px;
}

progress[value]::-moz-progress-bar {
  background-image:
    -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-color: #5cb85c;

}

progress .enemy-progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 4px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-color: #5cb85c;
  background-size: 40px 40px;
  display: inline-block;
}

.width90 {
  width: 90%;
}

.player-choice {
  padding-left: 0;
  padding-right: 0;
}

.attack-row {
  margin: 0 auto;
}

.attack-button {
  padding: 10px;
  margin: 10px auto;
  display: inline-block;
  position: relative;
}

// .minus-5 {
//   background-color: yellow;
// }
//
// .minus-10 {
//   background-color: orange;
// }
//
// .minus-15 {
//   background-color: red;
// }
//
// .minus-20 {
//   background-color: white;
// }

ul {
  padding-right: 0;
  padding-left: 0;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

.player-display {
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.player-display img {
  width: 256px;
  height: 256px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0 auto;
  background-color: white;
}

.enemy-display {
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.enemy-display img {
  width: 256px;
  height: 256px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0 auto;
  background-color: white;
}

.hide {
  display: none;
}
